@import "tailwindcss";

@source "../templates";
@source "../scripts";

@import "./components/button.css";
@import "./components/drop.css";
@import "./components/dropdown.css";
@import "./components/form.css";
@import "./components/label.css";
@import "./components/modal.css";
@import "./components/panel.css";
@import "./components/select.css";
@import "./components/table.css";
@import "./components/tabs.css";
@import "./components/uploads.css";

@import "./utils/animation.css";
@import "./utils/icons.css";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;
}

body.has-web-components .no-web-components {
  display: none;
}

@layer components {
  body {
    @apply bg-neutral-100 text-neutral-800;
    @apply dark:bg-gray-900 dark:text-neutral-300;
    @apply flex flex-col min-h-screen;
  }

  a {
    @apply cursor-pointer;
    @apply text-blue-900 dark:text-blue-200;

    &:hover {
      @apply text-blue-700 dark:text-blue-400;
    }

    &.no-color {
      @apply text-inherit;

      &:hover {
        @apply text-inherit;
      }
    }
  }
}

@layer utilities {
  .text-danger {
    @apply text-red-500 dark:text-red-400;
  }

  .text-success {
    @apply text-green-700 dark:text-green-400;
  }
}

