<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Parcel File Sharing</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/icons/lucide.css">
    {% set htmx_config = { "responseHandling": [
      {
        "code": "[45]..",
        "swap": true,
        "select": "#site_content",
        "target": "#site_content",
        "swapOverride": "outerHTML"
      },
      { "code": "...", "swap": true },
    ] } -%}
    <meta name="htmx-config" content='{{ htmx_config | tojson }}'>
    {% if env.analytics_domain and env.plausible_script %}
      <script defer data-domain="{{ env.analytics_domain }}" src="{{ env.plausible_script }}"></script>
    {% else %}
      <!-- No analytics domain or script provided -->
    {% endif %}
  </head>
  <body hx-ext="loading-states">
    <main id="site_content" class="grow flex flex-col">
      {% block body %}{% endblock %}
    </main>
    <script type="text/javascript" src="/static/scripts/vendor/htmx.js"></script>
    <script type="text/javascript" src="/static/scripts/vendor/htmx.loading-states.js"></script>
    <script type="module" src="{{ env.init_js | script_bundle | safe }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
