{% extends "main.html" %}

{% block title %}Administration{% endblock %}

{% block content %}
<div class="grow container mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4 lg:p-0 lg:mt-4">
    <div class="panel gap-4">
      <div class="flex flex-row justify-between gap-2">
        <h1 class="heading">
          <span class="icon-users"></span>
          Users
        </h1>
        <div class="flex flex-row gap-2">
          <a href="/admin/users" class="button">
            <span class="icon-user"></span>
            Manage users
          </a>
          <a href="/admin/teams" class="button">
            <span class="icon-users"></span>
            Manage teams
          </a>
        </div>
      </div>
      <dl class="grow grid grid-cols-3 gap-4 lg:gap-8 mx-auto text-gray-900 dark:text-white">
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ users.count }}</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">users</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ users.enabled }}</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">enabled</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ teams.total }}</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">teams</dd>
        </div>
      </dl>
    </div>
    <div class="panel gap-4">
      <div class="flex flex-row justify-between gap-2">
        <h1 class="heading">
          <span class="icon-files"></span>
          Uploads
        </h1>
        <div class="buttons">
          <a href="/admin/uploads" class="button">
            <span class="icon-files"></span>
            Manage uploads
          </a>
          <button
            type="button"
            class="button"
            hx-get="/admin/uploads/cache"
            hx-target="body"
            hx-swap="beforeend">
            <span class="icon-brush-cleaning"></span>
            GC Cache
          </button>
        </div>
      </div>
      <dl class="grid grid-cols-2 gap-4 lg:gap-8 mx-auto text-gray-900 dark:text-white">
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ uploads.total }}</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">uploads</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ uploads.public }}</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">public</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ uploads.size | filesizeformat }}</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">total</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{ uploads.downloads }}</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">downloads</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
{% endblock %}
