{% extends "main.html" %}

{% block title %}Uploads{% endblock %}

{% block content %}
<div id="upload-list-container" class="grow flex flex-col gap-4 mt-4">
  <div class="flex flex-row justify-between items-center gap-4 px-8">
    <h1 class="text-xl md:text-2xl font-bold leading-tight tracking-tight text-gray-900
      dark:text-white">
      <a href="/admin">Administration</a> / Uploads
    </h1>
    <div class="buttons">
      <button
        class="button"
        type="button"
        hx-get="/admin/uploads"
        hx-target="#upload-list-container"
        hx-select="#upload-list-container"
        hx-swap="outerHTML">
        <span class="icon-refresh-cw"></span>
        Refresh
      </button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th class="text-nowrap text-left">ID</th>
        <th class="text-nowrap text-left">Slug</th>
        <th class="text-nowrap text-left">Filename</th>
        <th class="text-nowrap text-left">Access</th>
        <th class="text-nowrap text-right">DL</th>
        <th class="text-nowrap text-right">Limit</th>
        <th class="text-nowrap text-left">Expires</th>
        <th class="text-nowrap text-left">Uploaded</th>
        <th class="text-nowrap text-left">Uploader</th>
        <th class="text-nowrap text-left">IP</th>
      </tr>
    </thead>
    <tbody>
      {% include "admin/uploads/page.html" %}
    </tbody>
  </table>
</div>
{% endblock %}
