<form
  class="modal"
  hx-put="/uploads/{{ upload.id }}"
  hx-target="#upload-list"
  hx-select="#upload-list"
  hx-swap="outerHTML"
  _="on closeModal add .closing then wait for animationend then remove me"
>
  <div class="underlay" _="on click trigger closeModal"></div>
  <div class="content flex flex-col gap-2">
    <input type="hidden" name="token" value="{{ token }}" />
    <div class="buttons end">
      <a
        class="mx-2"
        href="#"
        _="on click call event.preventDefault() then trigger closeModal"
        >Cancel</a
      >
      <button type="submit" class="button" _="on click trigger closeModal">
        Save changes
      </button>
    </div>
  </div>
</form>
