<div
  id="upload-stats-container"
  hx-swap-oob="true"
  class="grow lg:grow-0 flex flex-row sm:flex-col md:flex-row md:items-start gap-2 sm:py-2 border-y border-transparent">
  <div
    id="upload-stats-progress"
    class="grow sm:grow-0 md:grow lg:grow-0 lg:w-80 rounded-full dark:bg-gray-700 border border-blue-600 dark:border-0">
    {% if limit is number and stats.size > 0 %}
      {% set percent = (stats.size / (limit | default(value = 0)) * 100) | round | int %}
      <div
        id="upload-stats-progress-inner"
        class="rounded-full smoothly {% if percent > 80 %}bg-red-100 dark:bg-red-600{% else %}bg-blue-300 dark:bg-blue-600{% endif %}
        font-medium text-xs text-blue-900 dark:text-blue-100 text-center p-1 leading-none rounded-full
        whitespace-nowrap min-w-12"
        style="width: {% if percent > 100 %}100{% else %}{{ percent }}{% endif %}%;">
        {% if percent < 1 %}{{ "< 1" }}{% else %}{{ percent }}{% endif %}%
      </div>
    {% else %}
      <div class="text-xs w-full text-center p-0.5">
        0%
      </div>
    {% endif %}
  </div>
  <div id="upload-stats-usage" class="whitespace-nowrap text-sm sm:text-center md:text-left text-slate-600 dark:text-slate-400">
    <span>Used</span>
    <span>{{ stats.size | filesizeformat }}</span>
    <span>of</span>
    <span>
      {% if limit is number %}
        {{ limit | filesizeformat }}
      {% else %}
        ∞
      {% endif %}
    </span>
  </div>
</div>
