<parcel-modal class="hidden" with-htmx>
  <form
    class="flex flex-col gap-1"
    hx-post="/admin/users/{{ user.id }}"
    hx-target="#user-list-container"
    hx-select="#user-list-container"
    hx-swap="outerHTML">
    <input type="hidden" name="token" value="{{ token }}" />
    <label for="username">Username</label>
    <input
      type="text"
      class="field"
      name="username"
      id="username"
      placeholder="Username"
      value="{{ user.username }}"
      required
    />
    <div class="grid grid-cols-3 gap-2">
      <div>
        <div class="flex flex-row gap-2">
          <input
              type="checkbox"
              name="admin"
              id="admin"
              {% if user.admin %}checked{% endif %} />
          <label for="admin">User is an administrator</label>
        </div>
      </div>
      <div>
        <div class="flex flex-row gap-2">
          <input
              type="checkbox"
              {% if user.id == auth.id %}
                disabled
              {% else %}
                name="enabled"
                id="enabled"
              {% endif %}
              {% if user.enabled %}checked{% endif %} />
          <label for="enabled">User account is enabled</label>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex flex-row gap-2">
          <input type="checkbox" name="limit_check" id="limit_check" {% if user.limit %}checked{% endif %} />
          <label for="limit_check">User has an upload limit (MB)</label>
        </div>
        <input
          type="number"
          class="field"
          name="limit"
          id="limit"
          {% if user.limit %}
            value="{{ (user.limit / 1048576) | int }}"
          {% else %}
            value="1024"
          {% endif %}
          min="0"
          {% if not user.limit %}disabled{% endif %} />
      </div>
    </div>
    <div class="buttons end mt-4">
      <a
        class="mx-2"
        href="#"
        onclick="event.preventDefault(); event.target.closest('parcel-modal').closeModal();">
        Cancel
      </a>
      <button
        type="submit"
        class="button"
        onclick="event.target.closest('parcel-modal').closeModal();">
        Save changes
      </button>
    </div>
    <script type="text/javascript">
      document.querySelector("input[name='limit_check']").addEventListener("change", (event) => {
        event.target.form.querySelector("input[name='limit']").disabled = !event.target.checked;
      });
    </script>
  </form>
</parcel-modal>
