<parcel-modal class="hidden" with-htmx>
  <form method="POST" action="/admin/users/new" class="flex flex-col gap-1">
    <input type="hidden" name="token" value="{{ token }}" />
    <label for="username">Username</label>
    <input
      type="text"
      class="field"
      name="username"
      id="username"
      placeholder="Username"
      required
    />
    <label for="password">Password</label>
    <input
      type="password"
      class="field"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
    <div class="grid grid-cols-3 gap-2">
      <div>
        <div class="flex flex-row gap-2">
          <input type="checkbox" name="admin" id="admin" />
          <label for="admin">User is an administrator</label>
        </div>
      </div>
      <div>
        <div class="flex flex-row gap-2">
          <input type="checkbox" name="enabled" id="enabled" checked />
          <label for="enabled">User account is enabled</label>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex flex-row gap-2">
          <input type="checkbox" name="limit_check" id="limit_check" checked />
          <label for="limit_check">User has an upload limit (MB)</label>
        </div>
        <input
          type="number"
          class="field"
          name="limit"
          id="limit"
          value="1024"
          min="0"
        />
      </div>
    </div>
    <div class="buttons reverse end mt-4">
      <button type="submit" class="button">
        <span class="icon-plus"></span>
        Add user
      </button>
      <button
        class="button hollow"
        onclick="event.preventDefault(); event.target.closest('parcel-modal').closeModal();">
        Cancel
      </button>
    </div>
    <script type="text/javascript">
      document.querySelector("input[name='limit_check']").addEventListener("change", (event) => {
        event.target.form.querySelector("input[name='limit']").disabled = !event.target.checked;
      })
    </script>
  </form>
</parcel-modal>
