<form
  class="modal"
  method="POST"
  action="/admin/users/new"
  _="on closeModal add .closing then wait for animationend then remove me"
>
  <div class="underlay" _="on click trigger closeModal"></div>
  <div class="content flex flex-col gap-2">
    <input type="hidden" name="token" value="{{ token }}" />
    <label for="username">Username</label>
    <input
      type="text"
      class="field"
      name="username"
      id="username"
      placeholder="Username"
      required
    />
    <label for="password">Password</label>
    <input
      type="password"
      class="field"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
    <div class="flex flex-row gap-2">
      <input type="checkbox" name="admin" id="admin" />
      <label for="admin">User is an administrator</label>
    </div>
    <div class="flex flex-row gap-2">
      <input type="checkbox" name="enabled" id="enabled" checked />
      <label for="enabled">User account is enabled</label>
    </div>
    <div class="buttons end">
      <a
        class="mx-2"
        href="#"
        _="on click call event.preventDefault() then trigger closeModal"
        >Cancel</a
      >
      <button type="submit" class="button">Add user</button>
    </div>
  </div>
</form>
