{% from "utils/errors.html" import validation_errors %}
<parcel-modal class="hidden" with-htmx>
  <form
    id="team-form"
    class="form"
    hx-post="/admin/teams/{% if team %}{{ team.id }}{% else %}new{% endif %}"
    hx-target="#teams-list-container"
    hx-select="#teams-list-container"
    hx-swap="outerHTML">
    <input type="hidden" name="token" value="{{ token }}" />
    <h1 class="text-2xl font-bold">
      {% if team %}
        Edit team ({{ team.name }})
      {% else %}
        Add new team
      {% endif %}
    </h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-4">
      <div>
        <label for="name">Team name</label>
        <input
          type="text"
          class="field"
          name="name"
          id="name"
          minlength="1"
          maxlength="100"
          placeholder="Team Name"
          value="{% if team %}{{ team.name }}{% elif name %}{{ name }}{% endif %}"
          required>
        <p class="text-xs text-gray-500 dark:text-gray-300 m-1">
          This is the name of the team that is displayed in the interface.
        </p>
      </div>
      <div id="team-slug-container">
        <label for="slug">URL slug</label>
        {% include "admin/teams/slug.html" %}
      </div>
      <div>
        <div class="checkbox">
          <input
            type="checkbox"
            name="enabled"
            id="enabled"
            {% if not team or team.enabled or enabled %}checked{% endif %}>
          <label for="enabled">Team is enabled</label>
        </div>
      </div>
      <div class="flex flex-col justify-end">
        <div class="checkbox">
          <input
            type="checkbox"
            name="limit_check"
            id="limit_check"
            {% if not team or (team and team.limit) or limit %}checked{% endif %}>
          <label for="limit_check">Team has an upload limit</label>
        </div>
        <input
          type="number"
          class="field"
          name="limit"
          id="limit"
          min="0"
          {% if team and team.limit %}
            value="{{ (team.limit / 1048576) | int }}"
          {% elif limit %}
            value="{{ (limit / 1048576) | int }}"
          {% else %}
            value="1024"
            {% if not team %}disabled{% endif %}
          {% endif %}>
      </div>
    </div>
    {% if errors %}
      {{ validation_errors(errors, dict(name="Team name", slug="URL slug"), class="mt-4") }}
    {% endif %}
    <div class="buttons reverse end mt-4">
      <button
        id="team-save-button"
        type="submit"
        class="button"
        data-loading-disable>
        <span
          class="{% if team %}icon-check{% else %}icon-plus{% endif %}"
          data-loading-class="icon-loader-circle animate-spin"
          data-loading-class-remove="{% if team %}icon-check{% else %}icon-plus{% endif %}"></span>
        {% if team %}
          Save changes
        {% else %}
          Add team
        {% endif %}
      </button>
      <button
        class="button hollow"
        onclick="event.preventDefault(); event.target.closest('parcel-modal').closeModal();">
        Cancel
      </button>
    </div>
  </form>
</parcel-modal>
