{% from "utils/errors.html" import validation_errors %}
<parcel-modal class="hidden" with-htmx>
  <form
    id="team-form"
    class="form"
    hx-post="/admin/teams/{% if team %}{{ team.id }}{% else %}new{% endif %}"
    hx-target="#teams-list-container"
    hx-select="#teams-list-container"
    hx-swap="outerHTML">
    <input type="hidden" name="token" value="{{ token }}" />
    <h1 class="text-2xl font-bold">
      {% if team %}
        Edit team ({{ team.name }})
      {% else %}
        Add new team
      {% endif %}
    </h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-4">
      <div>
        <label for="name">Team name</label>
        <input
          type="text"
          class="field"
          name="name"
          id="name"
          minlength="1"
          maxlength="100"
          placeholder="Team Name"
          value="{% if form %}{{ form.name }}{% elif team %}{{ team.name }}{% endif %}"
          {% if not form and not team %}
            oninput="document.getElementById('slug').value =
            this.value.toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/-+/g,
            '-').replace(/^-|-$/g, '');"
          {% endif %}
          required>
        <p class="text-xs text-gray-500 dark:text-gray-300 m-1">
          This is the name of the team that is displayed in the interface.
        </p>
      </div>
      <div id="team-slug-container">
        <label for="slug">URL slug</label>
        {% include "admin/teams/slug.html" %}
      </div>
      <div>
        <div class="checkbox">
          <input
            type="checkbox"
            name="enabled"
            id="enabled"
            {% if (not form and not team) or (form and form.enabled) or (team and team.enabled) %}checked{% endif %}>
          <label for="enabled">Team is enabled</label>
        </div>
      </div>
      {% set has_limit = (not form and not team) or (form and form.limit is number) or (team and team.limit is number) %}
      <div class="flex flex-col justify-end">
        <div class="checkbox">
          <input
            type="checkbox"
            name="limit_check"
            id="limit_check"
            onchange="document.getElementById('limit').disabled = !this.checked;
            document.getElementById('limit_unit').disabled = !this.checked;"
            {% if has_limit %}checked{% endif %}>
          <label for="limit_check">Team has an upload limit</label>
        </div>
        {% set limit       = 1   %}
        {% set limit_unit = "GB" %}
        {% if form and form.limit %}
          {% set limit      = form.limit %}
          {% set limit_unit = form.limit_unit %}
        {% elif user and user.limit %}
          {% set limit_unit = user.limit | nearest_unit(limit = "TB") %}
          {% set limit      = user.limit / unit_multiplier(limit_unit) %}
        {% endif %}
        <div class="flex flex-row gap-2 mt-2">
          <input
            type="number"
            class="field"
            name="limit"
            id="limit"
            value="{{ limit | int }}"
            min="1"
            {% if not has_limit %}disabled{% endif %}
            required>
          <select
            class="field"
            name="limit_unit"
            id="limit_unit"
            {% if not has_limit %}disabled{% endif %}>
            <option value="B" {% if limit_unit == "B" %}selected{% endif %}>B</option>
            <option value="KB" {% if limit_unit == "KB" %}selected{% endif %}>KB</option>
            <option value="MB" {% if limit_unit == "MB" %}selected{% endif %}>MB</option>
            <option value="GB" {% if limit_unit == "GB" %}selected{% endif %}>GB</option>
            <option value="TB" {% if limit_unit == "TB" %}selected{% endif %}>TB</option>
          </select>
        </div>
      </div>
    </div>
    {% if errors %}
      {{ validation_errors(errors, dict(name="Team name", slug="URL slug"), class="mt-4") }}
    {% endif %}
    <div class="buttons reverse end mt-4">
      <button
        id="team-save-button"
        type="submit"
        class="button"
        data-loading-disable>
        <span
          class="{% if team %}icon-check{% else %}icon-plus{% endif %}"
          data-loading-class="icon-loader-circle animate-spin"
          data-loading-class-remove="{% if team %}icon-check{% else %}icon-plus{% endif %}"></span>
        {% if team %}
          Save changes
        {% else %}
          Add team
        {% endif %}
      </button>
      <button
        class="button hollow"
        onclick="event.preventDefault(); event.target.closest('parcel-modal').closeModal();">
        Cancel
      </button>
    </div>
  </form>
  <script type="text/javascript">
    (function() {
      document.getElementById("limit_check").addEventListener("change", function(event) {
        document.getElementById("limit").disabled = !event.target.checked;
      });
    })();
  </script>
</parcel-modal>
