{% extends "base.html" %}

{% block title %}Setup{% endblock %}

{% block content %}

<div class="grow container mx-auto flex justify-center items-center mt-4 p-4 md:p-0">
  <div class="flex flex-col gap-2 border rounded-md shadow-md border-slate-400 dark:border-gray-700
    dark:bg-gray-800 p-6 sm:p-4 w-full md:w-[40rem] lg:w-[48rem] aspect-[16/9]">
    <h1 class="text-2xl font-semibold">⚙️ Initial Setup</h1>
    <p class="my-4 text-lg">
      Welcome to the initial setup of a new 📦 Parcel installation.
    </p>
    <p class="mb-4">
      To set up your installation, you need to create the username and password for the
      first administrator user. You can add more administrators or normal users later.
    </p>
    <form id="setup-form" action="/admin/setup" method="POST" class="form gap-2">
      <input type="hidden" name="token" value="{{ token }}" />
      <label for="username">Administrator Username</label>
      <input
        class="field"
        name="username"
        type="text"
        pattern="[\w\-]{3,}"
        placeholder="AdministratorUsername"
        required />
      <p class="text-xs text-gray-500 dark:text-gray-300">Usernames must be at least three
      characters in length, and can only include letters, numbers, hyphens, and
      underscores.</p>
      <label for="password">Administrator Password</label>
      <input
        class="field"
        name="password"
        type="password"
        placeholder="Administrator Password"
        required />
      <input
        class="field"
        name="confirm"
        type="password"
        placeholder="Confirm Administrator Password"
        required />
      <p class="text-xs text-gray-500 dark:text-gray-300">The password and confirmation must
      match.</p>
      <div id="password-error" class="text-danger">
        {% if error %}{{ error }}{% endif %}
      </div>
      <div class="buttons end">
        <button type="submit" class="button">Create administrator</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script>
  document.querySelector("form#setup-form").addEventListener("submit", (event) => {
    const password = document.querySelector("input[name='password']").value;
    const confirm = document.querySelector("input[name='confirm']").value;

    // Check to make sure that the password and the confirmation are the same; If they are not, then
    // cancel the submission event and set the <div id="error"> content to a suitable error message.
    if (password !== confirm) {
      event.preventDefault();
      document.querySelector("#password-error").innerHTML = "The passwords do not match.";
      return;
    }


    // Hide the error and disable the submit button so we don't try multiple submissions.
    document.querySelector("#password-error").innerHTML = "";
    document.querySelector("button[type=submit]").disabled = true;
  });
</script>

{% endblock %}
