{% from "utils/errors.html" import validation_errors %}
<parcel-modal class="hidden" with-htmx>
  <form
    id="team-settings-form"
    class="form"
    hx-post="/teams/{{ team.id }}/settings"
    hx-swap="outerHTML">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <h1 class="text-2xl font-bold">
      Team Settings
    </h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-4">
      <div>
        <label for="name">team name</label>
        <input
          type="text"
          class="field"
          name="name"
          id="name"
          minlength="1"
          maxlength="100"
          placeholder="team name"
          value="{% if form %}{{ form.name }}{% elif team %}{{ team.name }}{% endif %}"
          required>
        <p class="text-xs text-gray-500 dark:text-gray-300 m-1">
          This is the name of the team that is displayed in the interface.
        </p>
      </div>
      <div id="team-slug-container">
        <label for="slug">URL slug</label>
        {% include "teams/slug.html" %}
      </div>
      <div class="lg:col-span-2">
        <script type="text/json" id="members-data">
          [ {% for member in members %}
            {{ dict(id=member.user, name=member.name) | tojson }}
            {%- if not loop.last -%},{%- endif -%}
            {% endfor %} ]
        </script>
        <script type="text/json" id="permissions-data">
          {{ "{" }} {% for member in members %}
            "{{ member.user }}":
              {{ dict(edit=member.can_edit, delete=member.can_delete, config=member.can_config) | tojson }}
              {%- if not loop.last -%},{%- endif -%}
          {% endfor %} {{ "}" }}
        </script>
        <parcel-teams
          class="mt-2"
          name="members"
          noun="Member"
          self="{{ auth.id }}"
          targets="#members-data"
          permissions="#permissions-data"></parcel-teams>
      </div>
    </div>
    {% if errors %}
      {{ validation_errors(errors, dict(name="Team name", slug="URL slug"), class="mt-4") }}
    {% endif %}
    <div class="buttons reverse end mt-4">
      <button
        type="submit"
        class="button"
        data-loading-disable>
        <span
          class="{% if team %}icon-check{% else %}icon-plus{% endif %}"
          data-loading-class="icon-loader-circle animate-spin"
          data-loading-class-remove="{% if team %}icon-check{% else %}icon-plus{% endif %}"></span>
        {% if team %}
          Save changes
        {% else %}
          Add team
        {% endif %}
      </button>
      <button
        class="button hollow"
        onclick="event.preventDefault(); event.target.closest('parcel-modal').closeModal();">
        Cancel
      </button>
    </div>
  </form>
</parcel-modal>
