@layer components {
  .uploads-table {
    @apply bg-slate-50 dark:bg-slate-800/25;
    @apply border-collapse border-b border-slate-200 dark:border-slate-600;
    @apply grid;
    @apply mb-8;

    > .uploads-table-header {
      @apply grid grid-cols-subgrid;
      @apply text-slate-800 dark:text-slate-200 text-sm font-medium;
      @apply border-b dark:border-slate-600;

      > div {
        @apply p-2 hidden overflow-hidden;

        &:first-child {
          @apply pl-8;
        }

        &:last-child {
          @apply pr-8;
        }
      }
    }

    > .uploads-table-row {
      @apply grid grid-cols-subgrid;
      @apply bg-white dark:bg-slate-800;
      @apply text-slate-500 dark:text-slate-400 text-sm;
      @apply border-b border-slate-100 dark:border-slate-600;

      @apply hover:bg-neutral-200/10 dark:hover:bg-slate-700/25;

      > div {
        @apply p-2 hidden;

        &:first-child {
          @apply pl-8;
        }

        &:last-child {
          @apply pr-8;
        }

        /* We want to hide overflow on everything but the last child (which has our dropdown). */
        &:not(:last-child) {
          @apply overflow-hidden;
        }
      }
    }

    > .uploads-table-sentinel {
      @apply text-slate-500 dark:text-slate-400 text-sm text-center italic;
    }
  }

  /* for small displays we just show the checkbox, filename, public flag, and dropdown */
  .uploads-table {
    grid-template-columns: 3rem 1fr /*10rem*/ /*8rem*/ /*7rem*/ /*12rem*/ 5rem /*11rem*/ /*8rem*/ 4rem;

    > .uploads-table-header, > .uploads-table-row, > .uploads-table-sentinel {
      @apply col-span-4;
    }

    > .uploads-table-header > div, > .uploads-table-row > div {
      &:nth-child(2) {
        @apply flex;
      }

      &:nth-child(1), &:nth-child(7), &:nth-child(10) {
        @apply block;
      }
    }
  }

  /* at the next breakpoint we include the size of the upload */
  @media (width >= theme(--breakpoint-md)) {
    .uploads-table {
      grid-template-columns: 3rem 1fr 10rem /*8rem*/ /*7rem*/ /*12rem*/ 5rem /*11rem*/ /*8rem*/ 4rem;

      > .uploads-table-header, > .uploads-table-row, > .uploads-table-sentinel {
        @apply col-span-5;
      }

      > .uploads-table-header > div, > .uploads-table-row > div {
        &:nth-child(3) {
          @apply block;
        }
      }
    }
  }

  /* for larger screens we include the remaining uploads and the expiration date */
  @media (width >= theme(--breakpoint-md)) {
    .uploads-table {
      grid-template-columns: 3rem 1fr 10rem /*8rem*/ 7rem 12rem 5rem /*11rem*/ /*8rem*/ 4rem;

      > .uploads-table-header, > .uploads-table-row, > .uploads-table-sentinel {
        @apply col-span-7;
      }

      > .uploads-table-header > div, > .uploads-table-row > div {
        &:nth-child(5), &:nth-child(6) {
          @apply block;
        }
      }
    }
  }

  /* for even larger screens we include the number of downloads and when it was uploaded */
  @media (width >= theme(--breakpoint-xl)) {
    .uploads-table {
      grid-template-columns: 3rem 1fr 10rem 8rem 7rem 12rem 5rem 11rem /*8rem*/ 4rem;

      > .uploads-table-header, > .uploads-table-row, > .uploads-table-sentinel {
        @apply col-span-9;
      }

      > .uploads-table-header > div, > .uploads-table-row > div {
        &:nth-child(4), &:nth-child(8) {
          @apply block;
        }
      }
    }
  }

  /* for the largest screen size (1536px) we also include the uploader name, but only if this is
   * a listing for a team. */
  @media (width >= theme(--breakpoint-2xl)) {
    .uploads-table.for-team {
      grid-template-columns: 3rem 1fr 10rem 8rem 7rem 12rem 5rem 11rem 8rem 4rem;

      > .uploads-table-header, > .uploads-table-row, > .uploads-table-sentinel {
        @apply col-span-10;
      }

      > .uploads-table-header > div, > .uploads-table-row > div {
        &:nth-child(9) {
          @apply block;
        }
      }
    }
  }
}
