@layer utilities {
  .has-triangle {
    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;

      border-width: 0.5rem;
      border-color: transparent;
    }

    &.triangle-tl:before {
      @apply border-t-0 border-b-neutral-200 dark:border-b-gray-700;

      top: -0.5rem;
      left: 0.5rem;
    }

    &.triangle-tr:before {
      @apply border-t-0 border-b-neutral-200 dark:border-b-gray-700;

      top: -0.5rem;
      right: 0.5rem;
    }
  }
}
