<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Parcel File Sharing</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/icons/lucide.css" />
    {% if env.analytics_domain and env.plausible_script %}
      <script defer data-domain="{{ env.plausible_domain }}" src="{{ env.plausible_script }}"></script>
    {% else %}
      <!-- No analytics domain or script provided -->
    {% endif %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="logo">
            <a href="/" class="font-semibold">
              {% include "icons/lucide/package-open.svg" %} Parcel
            </a>
          </li>
        </ul>
        <ul>
          {% if user %}
            <li class="dropdown">
              <span>
                {% include "icons/lucide/user-circle-2.svg" %}
                {{ user.username }}
              </span>
              <ul>
                <li>
                  {% if user.admin %}
                    <a href="/admin">
                      {% include "icons/lucide/cog.svg" %}
                      Administration
                    </a>
                  {% endif %}
                  <a href="/user/settings">
                    {% include "icons/lucide/settings-2.svg" %}
                    Account Settings
                  </a>
                </li>
                <li>
                  <a href="/user/signout">
                    {% include "icons/lucide/log-out.svg" %}
                    Sign Out
                  </a>
                </li>
              </ul>
            </li>
          {% else %}
            <li><a href="/user/signin">Sign In</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <div>
        Powered by
        <a title="Git repository" href="https://git.blakerain.com/BlakeRain/parcel">Parcel</a>
        v{{ build.version }}
        </a>
      </div>
    </footer>
    <script type="text/javascript" src="/static/vendor/htmx.js"></script>
    <script type="text/javascript" src="/static/vendor/hyperscript.js"></script>
    <script type="module" src="/{{ env.init_js }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
