{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  <style>
    #upload-list-container tr.htmx-swapping td {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="grow container mx-auto flex flex-col gap-4 p-4 lg:p-0 lg:mt-4">
    <div hx-get="/uploads/stats" hx-target="this" hx-trigger="load" hx-swap="outerHTML"></div>
    <div
      hx-get="/uploads/list?order={{ query.order }}&asc={{ query.asc }}"
      hx-target="this"
      hx-trigger="load"
      hx-swap="outerHTML"></div>
  </div>
  <div id="drop-indicator" class="drop-indicator invisible">
    <div class="content">
      <div class="flex flex-col gap-4">
        <h1 class="text-2xl text-center">
          <span class="icon-upload"></span>
          Drop files here
        </h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="/static/scripts/bundles/{{ index_js | safe }}"></script>
{% endblock %}
