{% extends "main.html" %}
{% block title %}{% if team %}{{ team.name }}{% else %}Your{% endif %} Uploads{% endblock %}
{% block content %}
  <div class="grow flex flex-col p-4 lg:mt-4 lg:px-4 lg:py-0">
    {# There is no team on this page, as it's the user's own uploads #}
    <script type="text/json" id="team-identifier">[]</script>
    {# We can inline the first page of the uploads list #}
    {% include "uploads/list.html" %}
  </div>
  {% include "utils/drop-indicator.html" %}
{% endblock %}
{% block scripts %}
  <script type="module" src="{{ index_js | script_bundle | safe }}"></script>
{% endblock %}
