# Ignore node_modules and NodeJS lock file(s).
node_modules/
package-lock.json
yarn.lock

# Ignore the generated CSS and the copied HTMX and Hyperscript bundles
static/main.css
static/icons/
static/scripts/bundles/
static/scripts/vendor/
