{% for user in users %}
  <tr>
    <td class="text-left">
      <div class="flex flex-row items-center gap-1 text-nowrap">
        <span class="font-mono">{{ user.id | substr(start=0, len=8) }} … {{ user.id | substr(start=-4) }}</span>
        <parcel-clipboard value="{{ user.id }}"></parcel-clipboard>
      </div>
    </td>
    <td class="text-left">
      {{ user.username }}
      {% if user.id == auth.id %}
        <span class="text-sm text-success">(you)</span>
      {% endif %}
    </td>
    <td class="text-left">{{ user.name }}</td>
    <td class="text-center {% if user.enabled %}text-success{% else %}text-danger{% endif %}">
      {% if user.enabled %}Yes{% else %}No{% endif %}
    </td>
    <td class="text-center {% if user.has_totp is string %}text-success{% endif %}">
      {% if user.has_totp is string %}Yes{% else %}No{% endif %}
    </td>
    <td class="text-center {% if user.admin %}text-success{% else %}text-danger{% endif %}">
      {% if user.admin %}Yes{% else %}No{% endif %}
    </td>
    <td class="text-right">
      {% if user.limit is number %}
        {{ user.limit | filesizeformat }}
      {% else %}
        <i>No Limit</i>
      {% endif %}
    </td>
    <td class="text-right">
      {{ user.team_count }}
    </td>
    <td class="text-right">
      {{ user.upload_total | filesizeformat }}
    </td>
    <td class="text-left">
      <parcel-datetime value="{{ user.created_at|datetime }}"></parcel-datetime>
      {% if user.created_by_name %}
        <span class="text-xs opacity-75">
          (by {{ user.created_by_name }})
        </span>
      {% endif %}
    </td>
    <td class="text-left">
      {% if user.last_access %}
        <parcel-datetime value="{{ user.last_access|datetime }}"></parcel-datetime>
      {% else %}
        <i>Never</i>
      {% endif %}
    </td>
    <td class="text-right">
      <parcel-dropdown>
        <div class="dropdown-list">
          <a
            href="#"
            title="Edit user"
            hx-get="/admin/users/{{ user.id }}"
            hx-target="body"
            hx-swap="beforeend">
            <span class="icon-pencil"></span>
            Edit user &hellip;
          </a>
          {% if user.id != auth.id %}
            <a
              href="#"
              title="{% if user.enabled %}Disable{% else %}Enable{% endif %} user"
              hx-post="/admin/users/{{ user.id }}/{% if user.enabled %}disable{% else %}enable{% endif %}"
              hx-include="[name='csrf_token']"
              hx-trigger="click"
              hx-target="#user-list-container"
              hx-select="#user-list-container"
              hx-swap="outerHTML">
              {% if user.enabled %}
                <span class="icon-lock"></span>
                Disable user
              {% else %}
                <span class="icon-lock-open"></span>
                Enable user
              {% endif %}
            </a>
            <a
              href="#"
              title="Delete user"
              hx-delete="/admin/users/{{ user.id }}"
              hx-include="[name='csrf_token']"
              hx-trigger="click"
              hx-target="#user-list-container"
              hx-select="#user-list-container"
              hx-swap="outerHTML"
              hx-confirm="Are you sure you want to delete this user?">
              <span class="icon-trash"></span>
              Delete user
            </a>
            <a
              href="/admin/users/{{ user.id }}/masquerade"
              title="Masquerade as this user">
              <span class="icon-venetian-mask"></span>
              Masquerade as user
            </a>
          {% endif %}
        </div>
      </parcel-dropdown>
    </td>
  </tr>
{% endfor %}
{% if users | length > 0 %}
  <tr
    class="sentinel"
    hx-target="this"
    hx-get="/admin/users/page/{{ page + 1 }}"
    hx-trigger="revealed"
    hx-swap="outerHTML">
    <td colspan="12" class="text-center italic">
      Loading ...
    </td>
  </tr>
{% endif %}
